/GrpcHelloWorld/.vs/
/GrpcHelloWorld/GrpcGreeter/bin/
/GrpcHelloWorld/GrpcGreeter/obj/
/GrpcHelloWorld/GrpcGreeterClient/bin/
/GrpcHelloWorld/GrpcGreeterClient/obj/
/GrpcHelloWorld/GrpcHelloWorldClient/bin/
/GrpcHelloWorld/GrpcHelloWorldClient/obj/
/GrpcHelloWorld/GrpcHelloWorldServer/bin/
/GrpcHelloWorld/GrpcHelloWorldServer/obj/
/GrpcMicroservices/.vs/
/GrpcMicroservices/ProductGrpc/bin/
/GrpcMicroservices/ProductGrpc/obj/
/GrpcMicroservices/ProductGrpcClient/bin/
/GrpcMicroservices/ProductGrpcClient/obj/
.vs/
